<mdb-navbar SideClass="navbar navbar-expand-lg elegant-color">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="#">OLC1-C-Interprete <i class="fas fa-cogs"></i></a>
  </mdb-navbar-brand>
  <links>
     
      <form class="form-inline">
        <form class="form-inline">          
            <button mdbBtn (click)="ejecutar()" color="success" outline="true" class="waves-light" mdbWavesEffect type="button"><i class="fas fa-play"></i>Ejecutar</button>
            <button mdbBtn  color="warning" outline="true" class="align-middle waves-light" mdbWavesEffect type="button"><i class="fas fa-sitemap"></i>AST</button>
           
        </form>
        <ul class="navbar-nav ml-auto">
          
          
    
          <!-- Dropdown -->
          <li class="nav-item dropdown  blue-grey lighten-2" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <i class="fas fa-clipboard-list"></i> Reportes<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect >Errores Lexico y sintactico</a>
              <a class="dropdown-item waves-light" mdbWavesEffect  >Errores Semanticos</a>
              <a class="dropdown-item waves-light" mdbWavesEffect  >Tabla de Simbolos</a>
            </div>
          </li>
    
        </ul>
    </form>
  </links>
</mdb-navbar>
<!-- Start your project here-->
<div class="container-fluid " style="background-color: #212121;">
  <br>
  
  <!-- AREA DE TEXTO -->
  <div class="row" >
    <div class="col-6"> <h3 style="color: beige;"><i class="fas fa-file-code"></i> Entrada</h3> </div>
    
  </div>

  <!-- AREA DE EDITORES DE TEXTO -->
  <div class="col">
    
    <ngx-codemirror
      [(ngModel)]="entrada"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript'
      }"
    ></ngx-codemirror>
  </div>

  <br>
  <br>

  <div class="col"> <h3 style="color: beige;"><i class="fas fa-terminal"></i> Consola</h3>  </div>
  <div class="col">
    <ngx-codemirror
      [(ngModel)]="consola"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'markdown'
      }"
    ></ngx-codemirror>
  </div>
  
  <br>

  <button class="tablink" (click)="openPage('TablaSim')">Tabla de Simbolos</button>
    
    <div id="TablaSim" class="tabcontent" style="background-color: #616161;">
      <table mdbTable id= "tablasimbols" style="width:100%" bordered="true">
      
      </table>
    </div>

  <br>
</div>



<script type="text/javascript"></script>


<!-- /Start your project here-->
    